.Main2{
  background-color :#F8F9FD;
}   

.input-container {
  display: flex;
  justify-content: space-between; /* 왼쪽과 오른쪽 분리 */
  padding: 20px;
  background-color: #F8F9FD;
  border-radius: 8px;
  margin-left: 20px;
  margin-right: 20px;
}

.left-panel {
  flex: 3; /* 왼쪽이 더 넓게 */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-panel {
  flex: 1; /* 오른쪽은 좁게 */
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.input-group2 {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 300px;
}

.input-group2 button {
  padding: 8px 12px;
  background-color: #4C506B;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-group2 button:hover {
  background-color: #7878c8;
}

.right-panel {
  margin-right: 150px;
}

.right-panel h3 {
  margin-bottom: 10px;
}

.stock-list {
  list-style-type: none;
  padding: 0;
}

.stock-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.remove-stock-button {
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 14px;
}

.remove-stock-button:hover {
  background-color: #ff4a4a;
}

.message {
  font-size: 14px;
  margin-top: 5px;
}

.message.error {
  color: red;
}