.Main2 {
    background-color :#F8F9FD;
  }   

.main-container2{
  display: flex;
  justify-content: center;
  padding: 20px;
}
     
.input-group2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.input-group2 input {
  width: 150px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  text-align: start;
}

  .input-group2 button {
    padding: 8px 12px;
    background-color: #4C506B;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } 

  .input-group2 button:hover {
    background-color: #7878c8;
  }

.inputfield {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 70px;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 800px;
}

.inputfield ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px; 
}

.inputfield li {
  padding: 5px;
  background-color: #f1f1f1;
  border-radius: 4px;
  margin-bottom: 5px;
}

.message {
  color: red;
}
  
.submit-button2 {
  align-self: center;
  margin-top: 10px;
  padding: 10px;
  background-color: #4C506B;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button2:hover {
    background-color: #7878c8;
  }