.result-container {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 10%;
  font-family: Arial, sans-serif;
  width: 100%; /* 화면 폭을 모두 사용 */
  max-width: 100%; /* 최대 폭 제한 제거 */
  box-sizing: border-box; /* 패딩 포함 계산 */
}

.result-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /* 섹션 간 간격 추가 */
}

.result-section {
  flex: 1;
  margin-bottom: 20px;
  padding: 20px;
  min-width: 300px;
}

.result-image-section {
  flex: 7 1 70%; /* 3:7 비율로 70% 사용 */
  margin-bottom: 20px;
}

.result-image-section img {
  width: 70%;
  height: auto;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .result-section,
  .result-image-section {
    flex: 1 1 100%; 
  }
}
.side-by-side-images {
  display: flex;
  justify-content: space-around;
  gap: 20px; 
}

.side-by-side-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.side-by-side-section1 {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

h2, h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: center;
}
